@import "~bootstrap/scss/bootstrap";


body {
    background-color: rgb(255, 251, 251);
    font-family: $primary-font, sans-serif;
}

.post:hover{
    img{
        transform: scale(1.075);
        transition: transform 0.3s ease-out;
    }
}